.player_wrapper{
    position: relative;
}
.Screen {
    position: absolute;
    pointer-events: none;
    z-index: 0;
    overflow: hidden;
    border-radius: 10%;
}
@media screen and (max-width:600px) {
    .Screen{
        border-radius: 0;
        bottom: 10%;
    }
}
@media screen and (max-width:480px){
    .Screen{
        bottom: 8%;
    }
}
@media screen and (max-width:420px){
    .Screen{
        bottom: 13%;
    }
}

