body {
    margin: 0;
}

.body_style {
    background: linear-gradient(250deg, #7b2ff7, #f107a3);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    z-index: 4;

    .SumahoBlock {
        text-align: center;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
    }

    .Grid_Line {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 150px);
        grid-auto-rows: 14rem;
    }

    .Grid_Frame {
        width: 600px;
        height: 720px;
        position: absolute;
    }


    /*スマホ枠*/
    .Sumaho_Position {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
        border: 20px solid black;
        border-radius: 30px;
        width: 500px;
        height: 620px;
        justify-content: center;
        align-items: center;
        z-index: 21;
        pointer-events: none;
    }
    .TestLink{
        background-color: red;
        width: 100px;
        height: 100px;
        margin-top: 100px;
        margin-left: 100px;
        margin-right: auto;
    }
    .Test{
        width: 550px;
        height: 700px;
        background-color: white;
        z-index: 3;
        position:absolute;
    }
}