//*ここからアイコングリッドの個々のスタイル～～～
.App1 {
    width: 130%;
    height: 12%;
    z-index: 12;
    background-color: azure;
    border-radius: 30%;
    pointer-events: auto;
        margin-left: 120%;
}
//アイコンサイズ
.TalkIcon_Size {
    z-index: 14;
    margin-bottom: 60px;
    margin-left: 10%;
		margin-top: 150px;
}
.nakami{
	background-color: khaki;
	width: 100%;
	height: 100%;
    border-radius: 1%;
    margin-left: 3%;
    position: absolute;
}
.LinkStyle{
    pointer-events: none;
}

@media screen and (max-width:968px) {
}
