//*ここからアイコングリッドの個々のスタイル～～～
.App1 {
    text-align: center;
    margin: auto;
    width: 50px;
    height: 50px;
    z-index: 2;
    display: -webkit-flex;

    -webkit-align-items: center;
    align-items: center;

}

.App1[data-isopen="true"] {
    width: 550px;
    height: 700px;
    background-color: white;
    z-index: 3;
    position: absolute;
}

//アイコンサイズ
.TalkIcon_Size {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    width: 100px;
    height: 100px;
}
.TestLink{
    background-color: red;
    width: 100px;
    height: 100px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: auto;
}

.nakami{
	background-color: white;
	width: 100%;
	height: 100%;
}