//*ここからアイコングリッドの個々のスタイル～～～
@font-face {
    font-family: kirby;
    src: url(../Font/kirby-classic.ttf);
}

.App1 {
    width: 130%;
    height: 12%;
    z-index: 12;
    background-color: #edbbd5;
    border-radius: 30%;
    pointer-events: auto;
        margin-left: 80%;
}
//アイコンサイズ
.TalkIcon_Size {
    z-index: 14;
    margin-left: 10%;
		margin-top: 150px;
}
.nakami{
	background-image: url(../pics/haikei3.png);
    background-repeat: no-repeat;
    background-size: cover;
	width: 100%;
	height: 100%;
    border-radius: 10%;
    position: absolute;
    pointer-events: none;
}
.LinkStyle{
    pointer-events: none;
}
.IconNameAbout{
    font-family: kirby;
    text-decoration: none;
    color:black;
    font-weight: 900;
    font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
    margin-top: 3%;
    letter-spacing: 1px;
    margin-left: 145%;  
}


@media screen and (max-width:600px) {
    .App1{
        width: 100%;
        height: 10%;
        margin-left: 50%;    
    }
    .IconNameAbout{
        margin-left: 100%;
    }
    .nakami{
        border-radius: 0;
    }
}
@media screen and (max-width:480px) {
    .App1{
        width: 80px;
        height: 10%;
        margin-left: 40%;
        
    }
    .IconNameAbout{
        margin-left: 80%;
    }
}
@media screen and (max-width:430px) {
    .App1{
        width: 55px;
        height: 8%;
        margin-left: 0%;
        
    }
    .IconNameAbout{
        margin-left: 0%;
    }
}