    /* Desktop1 */

    p {
        margin: 0;
    }
    
    .clip-contents {
        overflow: hidden;
    }
    
    .flex-col-hstart-vstart {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .desktop-1 {
        position: relative;
        background-color: rgba(255, 255, 255, 1);
        width: 1488px;
        height: 1169px;
    }
    
    .polygon-1 {
        position: absolute;
        top: 1217px;
        left: 1377px;
        width: 217.37px;
        height: 167.25px;
    }
    
    .rectangle-1 {
        position: absolute;
        top: 380px;
        left: 568px;
        background-color: rgba(217, 217, 217, 1);
        width: 299px;
        height: 179px;
    }
    
    .ellipse-1 {
        position: absolute;
        top: 168px;
        left: 333px;
        background-color: rgba(217, 217, 217, 1);
        width: 175px;
        height: 174px;
        border-radius: 87.5px;
    }